extends layout

block content
    header
        h1 About Us
        
    .row.about-content
        .col-6.card
            h3 About our website
            p.about-info RestaurantFinder helps you to find the best restaurants near you. We currently support only a few places but hope to expandour horizons with your help.
        .col-6.card
            h3 Contact us
            p.about-info Please contact us for any questions or comments (including all inquiries unrelated to copyright infringement) regarding this Platform.
                | <br><br> Mr. XYZ Restaurant Finder Technologies Private Limited
                | <br> Reg Office: XYZ.
                | <br> ABCDEFG, Survey No 17/9B, HIJKLMNOP - 560068, India
                | <br> Phone: +91 - 9999999999
                | <br> Email: grievances@ Restaurant Finder.com
                | <br> Time: Mon - Sat (9:00 - 18:00)